repos:
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.0
    hooks:
    -   id: ruff
        args: [ --fix ]
    -   id: ruff-format

-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        entry: pytest
        language: system
        types: [python]
        pass_filenames: false
        always_run: true

-   repo: local
    hooks:
    -   id: pip-freeze
        name: Update requirements.txt
        entry: powershell -Command "pip freeze > requirements.txt"
        language: system
        pass_filenames: false
        always_run: true